<h1>All Musicians</h1>

<h3>Look up all gigs by each musician:</h3>


<% @instruments.each do |instrument| %>
  <strong><%= instrument.name %></strong>
  <ul>
    <% instrument.musicians.each do |musician| %>
      <li><%= link_to musician.name, musician_path(musician) %></li>
    <% end %>
  </ul><br>
<% end %>
