<% if gig.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(gig.errors.count, "error") %> prohibited this gig from being saved:</h2>

    <ul>
      <% gig.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
